<ion-header>
  <ion-toolbar>
    <ion-title>
      ANDRES'S HOUSE 
    </ion-title>
    <ion-segment value="all">
      <ion-segment-button value="mesas" (click)="gotomesas()">
        <ion-label>Mesas</ion-label>
      </ion-segment-button>
    
      <ion-segment-button value="orden">
        <ion-label>Orden</ion-label>
      </ion-segment-button>
    
      <ion-segment-button value="comanda">
        <ion-label>Comanda</ion-label>
      </ion-segment-button>
    
      <ion-segment-button value="historial">
        <ion-label>Historial</ion-label>
      </ion-segment-button>
    
      <ion-segment-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-card-centered">
    <ion-card-content>
      <div style="text-align: center;">
        <h1>Historial de Ventas</h1>
      </div>
      
      <!-- Date Range Selection -->
      <ion-row class="ion-align-items-center ion-justify-content-center">
  <ion-col class="ion-text-center" style="margin-left: 160px;">
    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startDate">
      <span slot="title">Fecha de inicio</span>
    </ion-datetime>
  </ion-col>

  <ion-col class="ion-text-center" style="margin-left: 160px;">
    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endDate">
      <span slot="title">Fecha de fin</span>
    </ion-datetime>
  </ion-col>
</ion-row>

      <ion-button (click)="loadHistorial()" color="orange" style="background:orange; width: 100%;">Buscar Historial</ion-button>
      

      <!-- Display Historical Sales -->
      <ion-list *ngIf="historial.length > 0">
        <ion-item *ngFor="let mesa of historial">
          <ion-label>
            <h2>Mesa {{ mesa.numeroMesa }}</h2>
            <!-- No es necesario llamar a toDate() en un objeto Date -->
            <p>Fecha: {{ mesa.fecha | date:'yyyy-MM-dd HH:mm:ss' }}</p>
            <p>Order Total: {{ mesa.order.total | currency:'MXN':'symbol':'1.2-2' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      
      <!-- Suma total de totales -->
      <ion-label class="total-sum" *ngIf="historial.length > 0">
        Suma total: {{ totalSum | currency:'MXN':'symbol':'1.2-2' }}
      </ion-label>
      
    </ion-card-content>
  </ion-card>
</ion-content>